/* Overwrite Bootstrap definitions */

/* --- Common */

.body {
    padding: 10px;
    color: gray;
}
/* for adjusting icon images in navbar */
.username {
    padding-left: 10px;
}

.subsection-name {
    color: #007bff;
}

/* --- index.html */
/* --- about.html */
.body-navigation {
    margin: auto;
}
/* --- projects.html */
.project-details {
    margin-top: 20px;
}
/* --- contacts.html */
.media-icon {
    color: #007bff;
    font-size: 50px;
}
